Binaries
DerivedDataCache
Intermediate
Saved
Build

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
.idea/.idea.ProjectW.dir/.idea/workspace.xml
.idea/.idea.ProjectW.dir/.idea
Builds
